.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
 
}

.App-header {

  padding: 0px;
  color: white;
  background-color: rgba(14, 3, 78, 0.944)
}

.Content {
  display: flex;
  flex: 1;
}


.LeftSideBar {
  flex: 1;
  padding: 50px;
  border: none;
  box-sizing: border-box;
  align-items: center;
  background-color:  black;
  margin: 0px;

}
.authuserBar{
  flex: 1;
 
  border: none;
  box-sizing: border-box;
  align-items: center;
  background-color:  black;

}


.RightSideBar {
  flex: 1;
  padding: 10px;
  border: none;
  box-sizing: border-box;
  align-items: center;
  background-color:  black;
  margin: 0px;

}

.Middle,
.FlightByIdDropdown-container {

  color: white;
  padding: 0px;
  margin-top: 0px; 
}

.Middle {
  flex: 5;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color:  black;
  color: white;
  margin-top: 0px;
  padding: 10px;
  
}

.LeftSideBar {
  flex: 1;
  border: none;
  box-sizing: border-box;
  align-items: center;
  background-color:  black;
  text-align: center; 
  
}

.button-wrapper {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center; 
  font: white;
}



.input{
  .input {
  
    align-items: center;
    gap: 10px; 
    background-color: black;
    padding: 10px;
    
  }
}


.FlightById-container {
  background-color: black;
  color: yellow;
  padding: 0px;
   
  
}


.details {
  color:yellow;
  background-color: black;
  border:none;
  padding: 10px;
  margin-top: 0 px;
  
}

.details1 {
  color:yellow;
  background-color: black;
  border:none;
  padding: 10px;
  margin-top: -200px;
  
}

.input-container {
  background-color: black;
  padding: 5px;
  display: flex;
  flex-direction: column; 
  gap: 0px; 
  align-items: center;
}

.Response-container {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: 5px;
  padding: 200px;
  
}

.send-id-bottun {
  margin-bottom: 0px; 
  padding: 10px 0;
  gap: 2px;
}

.Flight-details-error{
  background-color: rgba(237, 8, 19, 0.567);
  color: white;
  margin-top: 0px;
  padding: 10px;
  border: 1px solid yellow;
}

.error{
  background-color: rgba(237, 8, 19, 0.567);
  color: white;
  margin-top: 0px;
  padding: 10px;
  border: 1px solid yellow; 
}

.right-sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.log-reg {
  flex: 25%; 
  background-color: black; 
  margin-bottom: 50px; 
}

.auth-user {
  width: 230px;
  height: 350px; 
  background-color: black; 
  color: white;

}

.login-form {
  width: 230px;
  height: 150px; 
  background-color: black; 
  margin-top: 10px;
 

}
.registration-form {
  display: flex;
  flex-direction: column;
}
.register-button {
  background-color: blue;
  color: white;
  border: 1px solid yellow;
  width: 200px;
  height: 25px; 
  margin-top: 5px;
 
} 
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  width: 200px;
  height: 15px;
}
.input-label {
  color: yellow;
  font-size: 13px;
}

.table {
 
  width: 100%;
  border: none; 
}

th.header-cell {
  background-color: black;
  font-size: 13px;
  color: yellow;
  text-align: center;
  padding: 4px;
  border: none;
}

table tr {
  border: 1px solid yellow; 
}

tr th.header-cell:first-child {
  border-left: none; 
}

tr th.header-cell:last-child {
  border-right: none; 
  
  
}

td {
  font-size: 11px;
  text-align: center;
  padding: 4px;
  border: none; 
  
}

th:not(.header-cell) {
  font-size: 11px;
}

.table {
  margin-top:-250px;
  padding: 5px;
}

.add_ticket {
  border: 1px solid;
  background: rgb(57, 58, 58);
  color: rgb(21, 219, 11);
  padding: 10px; 
}
.ticket-details {
  background-color: lightgray;
  color: blue;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  border: 2px solid red; 
}
.ticket-details p {
  font-weight: bold; 
  font-size: 12px; 
}

.ticket-detailsa {
  background-color: rgb(32, 3, 3);
  color: rgb(144, 238, 56);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  border: 2px solid rgb(72, 255, 0); 
}
.ticket-detailsa p {
  font-weight: bold; 
  font-size: 12px; 
}

.good_response_details{
  background-color:black;
  color: rgb(7, 247, 15);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  border: 2px solid rgb(7, 247, 15); 
}